//Device screen width sizes
$mobile-width: '600px';
$phablet-width: '767px';
$tablet-width: '992px';

//Colours
$background-text-input: #DDDBDC;
$button-colour: #6d6df3;
$square-colour: #9494ff;
$error-colour: #c70000;
$subtitle-colour: #494949;

//Widths
$max-app-width: 1068px;
